
:root{
    --primary : #7559ff;
}

body{
    background:#ffffff;
    font-family: "Josefin Sans", sans-serif;
}

.highlight{
    color: #7559ff;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Marcellus", serif;
    
}

p{
    
    color: #303030;
}

.w-text{
    width: 35vw;
}

.btn-primary{
    background: var(--primary);
    border-radius: 500px;
    width: 12em;
    padding: 10px;
    font-size: 15px;
    
}

.banner{
    border-radius: 18px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 #d5d5d5;
}

.btnnav{
    width: 8em;
    padding: 8px;
}

.card{
    /* border: none; */
    border-radius: 25px;
    /* box-shadow:  0 0 20px 0 #b9b9b9; */
    margin: 25px;
    overflow: hidden;
}

.card img{
    height: 160px;
}

.testimonial .card{
    border-radius: 20px;
    background: #ffffff;
}

.testimonial .card img{
    height: auto;
    width: 100%;
    border-radius: 50px;
}

form{
    margin: 0px auto ;
    width: 75% ;
}

.accordion-item{
    margin: 20px 0;
    box-shadow:  0 0 20px 0 #b9b9b9;
}

@media only screen and (max-width: 769px) {
    .complog{
        flex-direction: column;
    }
    .w-text{
        width: 80vw;
    }

    .mfs{
        flex-direction: column;
    }
    .mfsr{
        flex-direction: column-reverse;
    }
    .mfs .w-75,.mfsr .w-75{
        width: 100% !important;
    }

    .card{
        margin: 0;
    }

    .display-3{
        font-size: 2.5em;
    }

    footer{
        flex-direction: column;
        row-gap: 1em;
    }
}

@media only screen and (max-width: 426px) {
    .banner{
        width: 99%;
    }
    .p-5{
        padding: 1rem !important;
    }
    .display-3{
        font-size: 1.8em;
    }

    form{
        margin: 0 !important;
        width: 98% !important;
    }
}


@media only screen and (max-width: 321px) {

    .display-2{
        font-size: 2em;
    }

    .display-4{
        font-size: 1.5em !important;
    }


    .fs-5{
        font-size: 15px !important;
    }

    .btn-primary{
        border-radius: 500px;
        width: 12em;
        padding: 8px;
        font-size: 12px;
        
    }
}