
:root{
    --primary : #7559ff;
}

body{
    background:#ffffff;
    font-family: "Josefin Sans", sans-serif;
}

.highlight{
    color: #7559ff;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Marcellus", serif;
    
}

p{
    
    color: #303030;
}

.w-text{
    width: 35vw;
}

.btn-primary{
    background: var(--primary);
    border-radius: 500px;
    width: 12em;
    padding: 10px;
    font-size: 15px;
    
}

.banner{
    border-radius: 18px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 20px 0 #d5d5d5;
}

.btnnav{
    width: 8em;
    padding: 8px;
}

.card{
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 20px 0 #ebe4e4;
    margin: 25px;
}

.card img{
    height: 160px;
}

.testimonial .card{
    border-radius: 20px;
    background: #ffffff;
}

.testimonial .card img{
    height: auto;
    width: 100%;
    border-radius: 50px;
}

form{
    margin: 0px auto ;
    width: 75% ;
}

.accordion-item{
    margin: 20px 0;
    box-shadow:  0 0 20px 0 #b9b9b9;
}

footer .list-unstyled{
    color: #d0d0d0;
}

footer .list-unstyled li{
    margin: 10px;

}


.dasboard .order-card {
    color: #fff;
}

.dasboard .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.dasboard .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.dasboard .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.dasboard .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.dasboard .bg-c-purple{
    background: linear-gradient(45deg, #f98dff, #b803e6);
}

.dasboard .bg-c-lgreen{
    background: linear-gradient(45deg, #85ff6f, #13e800);
}

.dasboard .bg-c-red {
    background: linear-gradient(45deg, #ff6a6a, #ff002b);
}

.dasboard .bg-c-grey {
    background: linear-gradient(45deg, #8f8f8f, #3a2f2f);
}

.dasboard .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(0, 0, 0, 0.449);
    box-shadow: 0 1px 2.94px 0.06px rgba(0, 0, 0, 0.333);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 145px;
}

#verificatonform{
    width: 90vh;
}

.dasboard .card .card-block {
    padding: 25px;
}

.dasboard .order-card i {
    font-size: 26px;
}

.dasboard .f-left {
    float: left;
}

.dasboard .f-right {
    float: right;
}

.dasboard p{
    color: #fff;
}
.dropdown-item{
    cursor: pointer;
}

.navbg{
    width: 280px;
    height:83vh; position:sticky; top:8.3em;
}
.dasboard .dropdown-toggle::after{
    transform: rotate(180deg);
}
.linkimg{
    width: 400px;
}

@media only screen and (max-width: 1025px) {
    .navbg{
        width: 250px;
    }
    .dascont{
        padding: 30px !important;
    }
    .dasboard .card{
        margin: 20px 20px;
    }
    .dasboard .col-md-4{
        width: 50%;
        padding: 0;
    }
    
    
}

@media only screen and (max-width: 769px) {
    .dasboard{
        flex-direction: column;
    }
    .navbg{
        width: 95%;
        height: auto;
        position: relative;
        margin: 0px auto;
        top: 20px;
    }
    .complog{
        flex-direction: column;
    }
    .w-text{
        width: 80vw;
    }

    .mfs{
        flex-direction: column;
    }
    .mfsr{
        flex-direction: column-reverse;
    }
    .mfs .w-75,.mfsr .w-75{
        width: 100% !important;
    }

    .card{
        margin: 0;
    }

    .display-3{
        font-size: 2.5em;
    }

    footer{
        flex-direction: column;
        row-gap: 1em;
    }
    .dascont{
        padding: 20px !important;
        width: 95%;
        margin: 0px auto !important;
        margin-bottom: 40px !important;
    }

    .linkimg{
        width: 90%;
    }
    .dasboard .col-md-4 {
        width: 100%;
    }
    #taskbox{
        flex-direction: column;
    }

}

@media only screen and (max-width: 426px) {
    #verificatonform{
        width: 99% !important;
        margin: 0 auto;
        font-size: 12px !important;
        margin-top: 15px !important;
    }

    #verificatonform input{
        font-size: 12px;
    }
    .input-group-text{
        font-size: 12px;
        padding: 10px;
    }
    #verificatonform .btnnav{
        width: 10vh !important;
        font-size: 12px !important;
        
    }
    .banner{
        width: 99%;
    }
    .p-5{
        padding: 1rem !important;
    }
    .display-3{
        font-size: 1.8em;
    }

    form{
        margin: 0 !important;
        width: 98% !important;
    }
}


@media only screen and (max-width: 321px) {

    .display-2{
        font-size: 1.6em;
    }

    .display-4{
        font-size: 1.5em !important;
    }


    .fs-5{
        font-size: 15px !important;
    }

    .btn-primary{
        border-radius: 500px;
        width: 12em;
        padding: 8px;
        font-size: 12px;
        
    }
}